<app-public-navbar></app-public-navbar>

<main class="about-main">

  <section id="sobre" class="about-section">
    @for (secao of secoesTextoSobre(); track secao.id) {
      <article>
        <h2>{{ secao.titulo }}</h2>
        @if (secao.conteudo) {
          <div [innerHTML]="secao.conteudo"></div>
        }
      </article>
    }
  </section>

  <section id="historia" class="about-section">
    @for (secao of secoesHistoria(); track secao.id) {
      <article>
        <h2>{{ secao.titulo }}</h2>
        @if (secao.conteudo) {
          <div [innerHTML]="secao.conteudo"></div>
        }
      </article>
    }
  </section>

  <section id="numeros" class="about-section">
    @for (secao of secoesCarrossel(); track secao.id) {
      <article>
        <h2>{{ secao.titulo }}</h2>
        @if (secao.conteudo) {
          <div [innerHTML]="secao.conteudo"></div>
        }
      </article>
    }
  </section>

  <section id="conheca-osc" class="about-section">
    <app-public-diretoria></app-public-diretoria>
  </section>

  <section id="unidades" class="about-section">
    <app-public-unidades></app-public-unidades>
  </section>

</main>

<app-public-footer></app-public-footer>
