@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/bricolagegrotesque-extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}

:root {
    --primary-color: #3682DC;
    --primary-hover-color: #1661bd;
    --primary-active-color: #5386c5;
    --primary-color-text: #ffffff;
    
    --preto: #1e1e1e;
    --branco: #FFFFFF;

    --fonte-texto: 'Inter', sans-serif;
    --fonte-titulo: 'Bricolage Grotesque', sans-serif;
    --sombra-padrao: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-texto);
    color: var(--preto);
    background-color: var(--branco);
}