<nav class="navbar">
  <div class="logo-container">
    <a style="cursor: pointer;" (click)="navegarParaHomeSection('inicio')">
      <img src="/images/logo_colorida_texto.png" alt="Logo Lar Escola Reden&ccedil;&atilde;o">
    </a>
  </div>

  <button class="menu-toggle" (click)="alternarMenu()" aria-label="Abrir menu">
    <span class="material-symbols-outlined">
      {{ menuAberto() ? 'close' : 'menu' }}
    </span>
  </button>

  <div class="nav-content" [class.ativo]="menuAberto()">
    <ul class="nav-links">
      <li><a (click)="navegarParaHomeSection('inicio')">Início</a></li>
      <li><a (click)="navegarParaHomeSection('unidades')">Unidades</a></li>
      <li><a (click)="navegarParaHomeSection('parceiros')">Parceiros</a></li>
      <li><a routerLink="/conheca-a-osc" (click)="fecharMenu()">Conheça a OSC</a></li>
      <li><a routerLink="/como-ajudar" (click)="fecharMenu()">Como ajudar?</a></li>
      <li><a routerLink="/eventos" (click)="fecharMenu()">Eventos</a></li>
      <li><a routerLink="/transparencia" (click)="fecharMenu()">Transparência</a></li>
    </ul>

    <div class="nav-action">
      <button type="button" class="btn-primary" (click)="realizarLogin()">
        <span class="material-icons">person</span>
        <span>Entrar</span>
      </button>
    </div>
  </div>
</nav>
